.box{
    .bin{
        width: 1318px;
height: 65px;
flex-shrink: 0;
background: #0152A8;
}
    p{
        color: #ffffff;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%;
margin-left: 159px;
font-size: 20px;
    }
.icon{
    margin-top: -55px;
    margin-left: 900px;
}
.num{
    margin-top: -55px;
    margin-left: 950px;
    color: white;
}
.icon1{
    margin-top: -85px;
    margin-left: 1100px;
}
.num1{
    margin-top: -70px;
    margin-left: 1150px;
}

}